.container {
    background-color: #2F2E2E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 0px;
    font-size: xx-large;
}

.grade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    font-size: large;
}

.grade2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    font-size: large;
}

.p {
    max-width: 290px;
}

.body {
    background-color: #2F2E2E;
}

.a {
    text-decoration: none;
    color: white;
    padding: 12px;
    border: 1px solid white;
    border-radius: 18px;
}

.a:hover {
    background-color: rgb(71, 236, 71);
    border: black;
    color: black;
}

.title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 30px 0px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.ico{
    display: flex;
    justify-content: center;
    gap: 20px;
}