.image{
    border-radius: 200px;
    width: 200px;
    height: auto;
    transform: rotate(deg);
  }
  @keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(100px); }
  }
  
  .element {
    animation: move 2s infinite; /* Animação que move o elemento 100px para a direita */
  }
  .element:hover {
    animation-play-state: paused; /* Pausa a animação quando o cursor do mouse passa por cima do elemento */
  }  