.container {
    min-height: 100vh;
    background-color: #2F2E2E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;
  }
  
  .navbar {
    background-color: #2F2E2E;
    display: flex;
    gap: 30px;
    padding: 15px 20px;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    justify-self: center;
    z-index: 1000; /* Mantém acima do conteúdo */
  }
  .footer {
    margin-top: 20px;
    font-size: 14px;
    color: rgb(201, 68, 15);
  }
  .navButton{
    font-size: 20px;
    text-decoration: none; /* Remove o sublinhado dos links */
    color: rgb(200, 200, 200);
    transition: color 0.3s ease-in-out;
 }
 .navButton:hover {
  color: white; 
}
 .p {
  width: 80%;
  max-width: 800px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto; 
  padding: 15px;
}
.body{
  background-color: #2F2E2E;
}
.image{
  border-radius: 200px;
  width: 200px;
  height: auto;
}



  